spring:
  application:
    name: order-service-platform

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: admin
    password: admin123
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: false

server:
  port: 8080
  tomcat:
    threads:
      max: 200              # ⚠️ LIMITE Platform Threads
      min-spare: 10

external:
  stock:
    url: http://localhost:8090
  payment:
    url: http://localhost:8090

logging:
  level:
    com.demo.order: INFO
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true